:root {
    --brand-color: #434455;
    --color-hover: #404bbf;
    --text-color: #2E2F42;
    --button-color: #4D5AE5;
    --white: #FFFFFF;
    --cornflower: #E7E9E7;
    --cloud: #F4F4FD;
}
body {
    font-family: "Roboto", sans-serif;
    color: var(--brand-color);
    font-weight: 400;
    background-color: var(--white);
    text-decoration: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
ul,
h2,
h4,
p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-header {
    display: flex;
    justify-content: baseline;
    border-bottom: 1px solid var(--cornflower);
}
.web-color {
    color: var(--text-color);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0,03em;
    text-transform: uppercase;
}
.studio {
    margin-right: 0px;
    color: var(--button-color);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.color-footer {
    margin-right: 0px;
    color: var(--cloud);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    text-decoration: none;
    display: inline-block;
}
.contacts {
    color: var(--brand-color);
    font-weight: 400;
    display: block;
}
.contacts:hover, .contacts:focus {
    color: var(--color-hover) ;
}
.list {
    list-style: none;
}
.address {
   display: flex;
   justify-content: flex-end;
   gap: 40px
}
address {
    font-style: normal;
}
.link{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
}
 .link:hover, .link:focus {
    color: var(--color-hover);
}
.flex-nav {
    display: flex;
    align-items: center;
    gap:40px;
}
.nav {
    display: flex;
    padding: 24px 0;
    gap: 40px;
    font-weight: 500;
    line-height: 1.5;
}
.phone {
    display: block;
    margin: 24px 0 24px 40px;
}
.email {
    display: block;
    margin: 24px 0 24px 170px;
}
.hero {
    padding: 188px 0;
    background-color: var(--text-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1.title {
    margin-right: auto;
    margin-left: auto;
    max-width: 496px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background-color: var(--text-color);
}
.filter-button {
    padding: 12px 24px 12px;
    outline: none;
    font-family: Roboto;
    color: var(--button-color);
    background-color: var(--cloud);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0,04em;
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    cursor: pointer;
}
.filter-button:hover, .filter-button:focus {
    color: var(--white);
    background-color: var(--color-hover);
    box-shadow: 0px 2px 2px 0px;
    box-shadow: 0px 2px 1px 0px;
    box-shadow: 0px 3px 1px 0px;
}
.filter-button:active {
    color: var(--white);
    background-color: var(--color-hover);
}
.portfolio-container {
    padding-top: 96px;
    padding-bottom: 120px;
}
.flex-column {
    flex-direction: column;
}
.section-team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    padding-bottom: 120px;
    padding-top: 74px;
    margin: 0 auto;
}
.team {
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    background: var(--white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-background {
    background-color: var(--cloud);
}
.team-image-caption {
    padding: 32px 0px;
    text-align: center;
}
.menu-filters {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 48px;
}
.service {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0,15);
    font-family: Roboto;
    color: var(--white);
    background-color: var(--button-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
 .service:hover, .service:focus {
    color: var(--white);
    background-color: var(--color-hover);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
}
.first-section-studio {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-top: 120px;
    padding-bottom: 120px;
}
.goals li {
    width: calc((100% - 72px) / 4);
}
.demonstration {
    color: var(--text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-top: 120px;
}
.list-projects {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 120px;
}
.presentation {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
}
h4 > .presentation {
    margin: 35px;
}
.text {
    color: var(--brand-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0,02em;
    display: block;
    width: 264px;
    margin-top: 16px;
}
.project-cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    list-style: none;
}
.project-card-caption {
    padding: 32px 16px 32px;
    border: 1px solid var(--cornflower);
    border-top: none;
}
.footer-height {
    max-height: 312px;
    padding: 100px 120px;
}
.footer-background-color {
    background-color: var(--text-color);
}